#mininavbar {
    padding: 0px;
    display: flex;
    list-style: none;
    gap: 20px;
    position: relative;
    justify-content: center;
    margin-top: 150px;
}


#mininavbar li a {
    color: black;
    font-family: "Oswald", sans-serif;
    text-decoration: none;
    position: relative;
    font-size: 18px;
    margin-right: 20px;
}   

#mininavbar li a::before {
    content:"";
    position:absolute;
    right:-20px;
    top:50%;
    transform:translateY(-50%);
    width:1px;
    height:14px;
    background:#cfcfcf;
}

#mininavbar li:last-child a::before {
    display:none;
}

#mininavbar li a:after {
    content:"";
    position:absolute;
    left:50%;
    bottom:-5px;
    transform:translateX(-50%);
    width:0;
    height:1px;
    background:#000000;
    transition:width 0.4s ease;
}

#mininavbar li a:hover::after,
#mininavbar li a.active::after{
    width:100%;
}

.titulobuzos {
    position: absolute;
    top: -43px;
    left: 30px;
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    font-weight: 450;
    display: flex;
    
}

#catalogo {
    margin-top: 100px;
    padding: 30px;
    gap: 2%;
    width:clamp(800px, 98%, 1450px);
    position: relative;
    left: 50%;
    transform:translateX(-50%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.producto {
    margin-bottom: 10px;
    aspect-ratio: 3 / 5;
    background-color: #c9bca523;
    transition: transform 0.4s ease;
    display: flex;
    justify-content:center;
    align-items:center;
}

.producto img{
    width: 120%;
    height: 100%;
    object-fit: contain;
}

.producto:hover {
    transform: scale(1.09);
}




