body {
    margin: 0;
    padding: 0;
}

#bannermain {
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 25px;
}

#bannermain img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#contenedor-slider {
    display: flex;
    margin: 4% auto;
    position: relative;
    width: 94%;
    aspect-ratio: 16/5;
    gap: 5px;
    
}

.card1,
.card2,
.card3,
.card4 {
    position: relative;
    height: 100%;
    width: 100%;
}

.card1 {
    background-image: url(../imagenes/charming-blonde-curly-lady-red-sunglasses-beige-trench-coat-bright-silk-skirt-looks-up-sits-windowsill-near-window\ \(1\).webp);
    background-size: cover;
    background-position: center;
}

.card2 {
    background-image: url(../imagenes/charming-lady-white-shirt-with-black-lace-jeans-smiling-cafe-woman-with-bright-lips-short-hair-holds-flower-inside.webp);
    background-size: cover;
    background-position: center;
}


.card3 {
    background-image: url(../imagenes/beautiful-vertical-picture-ginger-female-with-pure-white-skin-light-blue-gown\ \(1\).webp);
    background-size: cover;
    background-position: center;
}

.card4 {
    background-image: url(../imagenes/portrait-man-fashionable-shirt-wearing-floral-wreath\ \(1\).webp);
    background-size: cover;
    background-position: center;
}


.card1 .imagencard1,
.card2 .imagencard2,
.card3 .imagencard3,
.card4 .imagencard4 {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imagencard1,
.imagencard2,
.imagencard3,
.imagencard4 {
    opacity: 0;
    transition: opacity 0.25s ease;
}


.card1:hover .imagencard1,
.card2:hover .imagencard2,
.card3:hover .imagencard3,
.card4:hover .imagencard4 {
    opacity: 1;
}

#bannermain2 {
    margin: 0;
    position: relative;
    display: flex;
    aspect-ratio: 16/6;
    margin-bottom: 4%;
}


.contenedorimg1,
.contenedorimg2 {
    flex: 1;
}

.contenedorimg1 img,
.contenedorimg2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#contenedor-slider2 {
    display: flex;
    margin: 4% auto;
    position: relative;
    width: 94%;
    aspect-ratio: 16/4;
    gap: 10px;
}

.card5,
.card6,
.card7,
.card8,
.card9 {
    position: relative;
    height: 100%;
    width: 100%;
    transition: transform 0.3s ease;
}

.card5:hover,
.card6:hover,
.card7:hover,
.card8:hover,
.card9:hover {
    transform: scale(1.03);
}

.card5 .imagencard5,
.card6 .imagencard6,
.card7 .imagencard7,
.card8 .imagencard8,
.card9 .imagencard9 {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#scrollinfinito {
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin: 4% 0 4%;
    aspect-ratio: 16/5;
    overflow: hidden;
    gap: 10px;
}

.cardsscroll img {
    height: 100%;
    object-fit: cover;
}

.track {
    display: flex;
    gap: 10px;
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

#infobanner {
    background-color: #f3f3f300;
    position: relative;
    display: flex;
    aspect-ratio: 14/2;
    margin: 7% 25px 7%;
    gap: 10%;
    align-items: center;
    justify-content: center;
    padding: 20px 50px 20px;
}

.contenedorinfobanner {
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-family: "Roboto Condensed", sans-serif;
    width: 100%;
}

.fa-truck,
.fa-map,
.fa-circle-check {
    font-size: 30px;
    color: #3d3d3d;
    margin-bottom: 5px;
}

.textoinfo {
    font-size: 17px;
    font-weight: 350;
    text-align: center;
    color : #000000;
}

.subtextinfo {
    font-size: 15px;
    font-weight: 300;
    color: #555555;
    text-align: center;
    white-space: nowrap;
}


#footer {
    background-color: #fafafa;    
    position: relative;
    display: flex;
    aspect-ratio: 16/3;
    margin-top: 6%;
}
